<% require 'kramdown' %>

<div class='item item1' markdown=1 >
  <div class='featured img' markdown=1>
![featured img](/img/featured-img.png)
  </div>
  <div class='featured text' markdown=1>
## <%= params[:name] %>, <%=params%> his is text of: <%= self.class.name %>
  <% 10.times do %>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <%end%>
  </div>
</div>

<div class='item' markdown=1 >

## routes
% map.keys.each do |k|
```
  <%= k %> 
```
% end

</div>

<div class='item' markdown=1 >
## map object
```
  <%= map %>
```
</div>

<div class='item' markdown=1 >
## params object

http://url?name=nald

use **params** method: <%= params %>

</div>

<div class='item' markdown=1 >
## res object
```
  <%= res.methods.sort %>
```
</div>

<div class='item' markdown=1 >
## Kramdown::Document.methods
```
  <%= Kramdown::Document.methods.sort %>
```
</div>

<div class='item' markdown=1 >
## Kramdown::Document.instance_methods
```
  <%= Kramdown::Document.instance_methods(false).sort %>
```
</div>
